<div class="modal-header">
	<a class="close" data-dismiss="modal">×</a>
	<h3>Resources</h3>
</div>
<div class="modal-body">
	<p><a href="res/course_template.zip">Download Template</a></p>
	<p><a href="http://twitter.github.com/bootstrap/index.html">Bootstrap Guide</a></p>
</div>
