// CAROUSEL
// --------

.carousel {
  padding-left: 30px; //custom
  padding-right: 30px; //custom
}

.carousel-caption {
  position: static;
  min-height: @baseLineHeight * 6; // Custom
	max-width: 700px; // Custom
}
