/* Body */
body {
	padding-top: 80px;
	background-color: @pearson-bg;
}

/* Table of Contents */


/* Subnav */
.subnav {
  width: 100%;
  height: auto; //orig: 36px;
  #gradient > .vertical(@white, @grayLighter);
  .border-radius(4px);
  margin-bottom: @baseFontSize;
}
.subnav .nav {
  margin-bottom: 0;
}
.subnav .nav > li > a {
  margin: 0;
  padding-top:    11px;
  padding-bottom: 11px;
  border-left: 1px solid #f5f5f5;
  border-right: 1px solid #e5e5e5;
  .border-radius(0);
}
.subnav .nav > .active > a,
.subnav .nav > .active > a:hover {
  padding-left: 13px;
  color: @pearson90;
  background-color: fadeout(@pearson, 90%);
  border-right-color: #ddd;
  border-left: 0;
  .box-shadow(inset 0 3px 5px rgba(0,0,0,.05));
}
.subnav .nav > .active > a .caret,
.subnav .nav > .active > a:hover .caret {
  border-top-color: #777;
}
.subnav .nav > li:first-child > a,
.subnav .nav > li:first-child > a:hover {
  border-left: 0;
  padding-left: 12px;
}
.subnav .nav > li:last-child > a {
  border-right: 0;
}
.subnav .dropdown-menu {
	.border-radius(0 0 4px 4px);
}

.subnav .nav .dropdown.open {
  .dropdown-toggle {
    color: @white;
    background: @pearson;
  }
}

/* Fixed subnav on scroll, but only for 980px and up (sorry IE!) */
@media (min-width: 980px) {
  .subnav-fixed {
    position: fixed;
    top: 40px;
    left: 0;
    right: 0;
    z-index: @zindexFixedNavbar;
    border-color: #d5d5d5;
    border-width: 0 0 1px; /* drop the border on the fixed edges */
	.border-radius(0);
	.box-shadow(inset 0 1px 0 #fff, 0 1px 5px rgba(0,0,0,.1));
  }
  .subnav-fixed .nav {
    width: 938px;
    margin: 0 auto;
    padding: 0 1px;
  }
  .subnav .nav > li:first-child > a,
  .subnav .nav > li:first-child > a:hover {
	.border-radius(0);
  }
}

/* Page Navigation */
#page-nav {	
  .pearsonWell(5px);
}

#page-nav .btn {
	width: 90px; 
}

/* Footer */
footer {
	height: 40px;
	background-color: @pearson;
//	position: fixed;
	width: 100%;
//	bottom: 0;
}

.logo {
	width: 124px;
	height: 22px;
	background-image: @logoURL;
	background-repeat: no-repeat;
	margin: 9px 20px 9px 0;
	float: right;
}

.tagline {
	width: 149px;
	height: 10px;
	background-image: @taglineURL;
	background-repeat: no-repeat;
	margin: 15px 0 15px 20px;
	float: left;
}

#dl-main .copyright p {
  font-size: @baseLineHeight/2;
}

/*Content Main */
#dl-main p{
	padding: 5px;
}

#dl-main img {
	padding: 5px;
}

h1 {
	margin-bottom: @baseLineHeight;
}


/* TOC Thumbnails*/
#dl-toc li div.thumbnail{
	border-color: @pearson;
	border-width: 3px;
    #gradient > .vertical(@white, fadeout(@pearson,50%));
}

#dl-toc li div.thumbnail:hover{
	border-color: fadeout(@pearson, 40%);
}

#dl-toc li div.thumbnail h5 {
	min-height: @baseLineHeight * 2;
}

#dl-toc li div.thumbnail.active {
	border-color: orange;
}

#dl-toc img {
	max-width: 95%;
}

#toc-menu > .active > a,
#toc-menu > .active > a:hover {
  color: @white;
  text-decoration: none;
  background-color: @linkColor;
}

/* Accordian */

.accordion-body, .accordion-heading {
	background-color: @white;
}


/* Video */
video {
	margin-top: 10px;
	margin-bottom: 10px;
	width: 100% !important;
	max-width: 700px;
	height: auto !important;
}


/* Style Guide */
.dlsg-type {
	font-family: Menlo, Monaco, "Courier New", monospace;
	font-weight: bold;
}

.dlsg-click {
	font-weight: bold; 
}

.dlsg-sound {
	font-style: italic;
}

.dlsg-action {
	font-style: italic;
}

.dlsg-fragment {
	font-style: italic;
}

.prod-note {
  color: #9d1248;
}

.dlsg-talk-hr {
  margin: @baseLineHeight 0;
  border: 0;
  border-top: 1px solid @pearson;
  border-bottom: 1px solid @pearson90;
}

/* Conversation Classes */
.dl-talk-left {
	text-align: left;
}

.dl-talk-right {
	text-align: right;
}

.dl-talk-middle {
	text-align: center;
}

.dl-talk {
	min-height: 100px;
}

pre.dl-transcript {
	font-family: "Verdana";
}

/* Quizzes */

.quiz-init {
	display: none;
}

.quiz-true {
	font-weight: bold;
}
