.quiz-area {
  min-height: 20px;
  padding: 19px;
  margin-bottom: 20px;
  //#gradient > .vertical(@white, fadeout(@pearson, 95%));
  background-color: @white;
  border: 3px solid @pearson;
  .border-radius(5px);
  .box-shadow(inset 0 1px 1px @pearson);
  blockquote {
    border-color: @pearson;
  }
  visibility: hidden;
}

.quiz-instructions {
	font-size: @baseFontSize;
}

ul.quiz-body {
	list-style: none;
	margin-bottom: 10px;
}

.qz-feedback-area {
margin-top: 10px;
}

.qz-feedback-right {
  color: @successText;
}

.qz-feedback-wrong {
  color: @errorText;
}

.qz-feedback {
  color: @errorText;
}

div[data-correct] p.qz-feedback {
  color: @successText;
}

.quiz-stats {
	display: none;
}

.quiz-scores {
	font-size: @baseLineHeight;
	color: white;
	padding: 10px;
  #gradient > .vertical(@pearson70, @pearson);
	.border-radius(5px);
	margin: 0 10px 0 10px;
	text-align: center;
}

.quiz-stats .progress {
  height: @baseLineHeight * 2;
  #gradient > .vertical(@pearson-bg, fadeout(@pearson-bg, 5%));
}

// Bar of progress
.quiz-stats .progress .bar {
  padding: 10px;
  font-size: @baseLineHeight;
  height: @baseLineHeight * 2;
  #gradient > .vertical(@pearson60, @pearson90);
}

.quiz-body-hotspot {
  position: relative;
}

.quiz-hot-spot {
  position: relative;
  width: 30px;
  height: 30px;
  font-size: 45px;
  font-weight: 100;
  line-height: 30px;
  color: @white;
  text-align: center;
  background: @grayDarker;
  .border-radius(23px);
  .opacity(40);

  // we can't have this transition here
  // because webkit cancels the carousel
  // animation if you trip this while
  // in the middle of another animation
  // ;_;
  // .transition(opacity .2s linear);

  // Reposition the right one
  &.right {
    left: auto;
    right: 15px;
  }

  // Hover state
  &:hover {
    color: @white;
    text-decoration: none;
    .opacity(70);
  }
}

.quiz-hot-drop-set {
position: relative;
	width: 30px;
	height: 30px;
  background: @grayDarker;
  .opacity(40);
}


.ui-resizable-se {
cursor: se-resize;
width: 12px;
height: 12px;
right: 1px;
bottom: 1px;
}
.ui-resizable-handle {
position: absolute;
font-size: 0.1px;
z-index: 99999;
display: block;
}

.ui-resizable {
	position: relative;
}
.ui-resizable-e {
cursor: e-resize;
width: 7px;
right: -5px;
top: 0;
height: 100%;
}
.ui-resizable-s {
cursor: s-resize;
height: 7px;
width: 100%;
bottom: -5px;
left: 0;
}
.ui-resizable-handle {
position: absolute;
font-size: 0.1px;
z-index: 99999;
display: block;
}
.ui-icon-gripsmall-diagonal-se {
width: 14px;
height: 14px;
line-height: 14px;
vertical-align: text-top;
background-color: @white;
}
