// The dropdown menu (ul)
.dropdown-menu {
  min-width: 250px; //orig: 160px;
  max-width: 300px; //orig: 220px;

  // Links within the dropdown menu
  a {
    white-space: normal; //orig: nowrap;
  }
}
