.pearsonWell(@padding) {
  min-height: 20px;
  padding: @padding;
  margin-bottom: 20px;
  #gradient > .vertical(@pearsonWell, darken(@pearsonWell, 5%));
  border: 1px solid #eee;
  border: 1px solid rgba(0,0,0,.05);
  .border-radius(4px);
  .box-shadow(inset 0 1px 1px rgba(0,0,0,.05));
}