// NAVBAR (FIXED AND STATIC)
// -------------------------


// COMMON STYLES
// -------------

.navbar {
  margin-bottom: 0; // orig: @baseLineHeight;
}

// Gradient is applied to it's own element because overflow visible is not honored by IE when filter is present
.navbar-inner {
  .border-radius(0px); // orig
  @shadow: 0 0 0 rgba(0,0,0,.25), inset 0 0 0 rgba(0,0,0,.1); // orig
  .box-shadow(@shadow); // orig
}

