/* Responsive Docs
-------------------------------------------------- */
@media (max-width: 480px) {

  /* Reduce padding */
  body {
    padding-top: 70px;
	padding-bottom: 0;
  }

  /* Change up some type stuff */
  h2 {
    margin-top: 27px;
  }
  h2 small {
    display: block;
    line-height: 18px;
  }
  h3 {
    margin-top: 18px;
  }

  table code {
    white-space: normal;
    word-wrap: break-word;
    word-break: break-all;
  }

  .tagline {
		display: none;
	}
	
  .logo {
	float: left;
	margin-left: 20px;
}

	footer {
		position: static;
	}

}

// LANDSCAPE PHONE TO SMALL DESKTOP & PORTRAIT TABLET
// --------------------------------------------------

@media (max-width: 767px) {

  /* Remove any padding from the body */
  body {
    padding-top: 0;
	padding-bottom: 0;
  }


  /* Subnav */
  .subnav {
    position: static;
    top: auto;
    z-index: auto;
    width: auto;
    height: auto;
    background: #fff; /* whole background property since we use a background-image for gradient */
    -webkit-box-shadow: none;
       -moz-box-shadow: none;
            box-shadow: none;
  }
  .subnav .nav > li {
    float: none;
  }
  .subnav .nav > li > a {
    border: 0;
  }
  .subnav .nav > li + li > a {
    border-top: 1px solid #e5e5e5;
  }


  /* Popovers */
  .large-bird {
    display: none;
  }
  .popover-well .popover-wrapper {
    margin-left: 0;
  }

  /* Space out the show-grid examples */
  .show-grid [class*="span"] {
    margin-bottom: 5px;
  }

	footer {
		position: static;
	}

  /* Unfloat the back to top link in footer */
  .footer .pull-right {
    float: none;
  }
  .footer p {
    margin-bottom: 9px;
  }

}


@media (min-width: 480px) and (max-width: 768px) {

	footer {
		position: static;
	}

}

// PORTRAIT TABLET TO DEFAULT DESKTOP
// ----------------------------------

@media (min-width: 768px) and (max-width: 979px) {

  /* Remove any padding from the body */
  body {
    padding-top: 0;
  }

}

// TABLETS AND BELOW
// -----------------
@media (max-width: 979px) {

  #dl-main {
    margin-top: @baseLineHeight/2;
  }

  /* Unfloat brand */
  .navbar-fixed-top .brand {
    float: left;
    margin-left: 0;
    padding-left: 10px;
    padding-right: 10px;
  }

  #toc-menu{
    background-color: white;
    margin: 5px;
    .border-radius(4px);
    li > a {
    display: block;
    padding: 3px 15px;
    clear: both;
    font-weight: normal;
    line-height: @baseLineHeight;
    color: @gray;
    white-space: normal; //orig: nowrap;
    .border-radius(0px);
    }
    .nav-header {
  color: @grayLight;
  text-shadow: 0 1px 0 rgba(255,255,255,.5);
    }
	li > a:hover,
	.active > a,
	.active > a:hover {
	  color: @white;
	  text-decoration: none;
	  background-color: @linkColor;
	}
  }

  #toc-menu .divider {
    display: block;
  }

  #toc-toggle {
    display: none;
  }

}

@media (min-width: 980px) {
	/* Float Links */
	#nav-links {
		float: right;
	}
	
	#toc {
	  float: left;
	}

	#toc.collapse {
		overflow: visible;
	}

}


// LARGE DESKTOP & UP
// ------------------

@media (min-width: 1200px) {

  /* Update subnav container */
  .subnav-fixed .nav {
    width: 1168px; /* 2px less to account for left/right borders being removed when in fixed mode */
  }

}