@pearson-bg: #FBF5EA;

//blue
@pearson:	#364395;
@pearson90:	#205f9f;
@pearson80:	#006da4;
@pearson70:	#0080aa;
@pearson60:	#0089b7;
@pearsonWell: #C6CAE2;

@logoURL: url('../img/blue/logo.gif');
@taglineURL: url('../img/blue/tagline.gif');